<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="	
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true" entry-point-ref="casEntryPoint">
		<security:intercept-url pattern="/user/**" access="hasRole('USER')" />
		<security:intercept-url pattern="/admin/**" access="hasRole('ADMIN')" />
		<security:logout logout-url="/logout" logout-success-url="${cas.server.ip}/cas/logout"/>
		<security:custom-filter ref="casFilter" position="CAS_FILTER" />
		<security:custom-filter ref="singleLogoutFilter" before="CAS_FILTER"/>  
	</security:http>

	<bean id="serviceProperties" class="org.springframework.security.cas.ServiceProperties">
		<property name="service" value="${cas.client.ip}/login/cas"/>
		<property name="sendRenew" value="false"/>
	</bean>
	
	<bean id="casEntryPoint" class="org.springframework.security.cas.web.CasAuthenticationEntryPoint">
		<property name="loginUrl" value="${cas.server.ip}/cas/login"/>
		<property name="serviceProperties" ref="serviceProperties"/>
	</bean>
	
	<bean id="casFilter" class="org.springframework.security.cas.web.CasAuthenticationFilter">
		<property name="authenticationManager" ref="authenticationManager"/>
	</bean>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="casAuthenticationProvider" />
	</security:authentication-manager>

	<bean id="casAuthenticationProvider" class="org.springframework.security.cas.authentication.CasAuthenticationProvider">
		<property name="authenticationUserDetailsService">
			<bean class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
				<constructor-arg ref="userService" />
			</bean>
		</property>
		<property name="serviceProperties" ref="serviceProperties" />
		<property name="ticketValidator">
			<bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator">
				<constructor-arg index="0" value="${cas.server.ip}/cas" />
			</bean>
		</property>
		<property name="key" value="an_id_for_this_auth_provider_only"/>
	</bean>
	
	<security:user-service id="userService">
		<security:user name="casuser" password="Mellon" authorities="ROLE_ADMIN" />
		<security:user name="artur" password="artur" authorities="ROLE_ADMIN" />
	</security:user-service>
	<bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>

	<context:property-placeholder system-properties-mode="OVERRIDE" properties-ref="environment"/>
	<util:properties id="environment">
		<prop key="cas.client.ip">https://localhost:8445/casclient</prop>
		<prop key="cas.server.ip">https://localhost:8445</prop>
	</util:properties>

</beans>